body {
    background-color: limegreen;
}
h1 {
    font-size: 32px;
}
h1, p {
    color: darkturquoise;
    text-align: center;
}
canvas {
    display: block;
    margin: 10px auto;
    background-color: black;
}